<div *ngIf="searchVisible" class="ten_movies">
  <header>
    <div class="menu">
      <span class="filterBtn" (click)="filter('Comedy')">Comedy</span>
      <span class="filterBtn" (click)="filter('Action')">Action</span>
      <span class="filterBtn" (click)="filter('Adventure')">Adventure</span>
      <span class="filterBtn" (click)="filter('Crime')">Crime</span>
      <span class="filterBtn" (click)="filter('Drama')">Drama</span>
      <span class="filterBtn" (click)="filter('All')">All</span>
    </div>
    <input class="search" type="text" placeholder="Search movie...">
  </header>
  <h1>Movies</h1>
  <div class="lineFlexWrap">
    <div  (click)="movieClicked(movie)" *ngFor="let movie of movies" class="movie small">
      <img src="{{movie.img}}" alt="{{movie.description}}">
    </div>
  </div>
</div>
<div class="buy_place" *ngIf="buyVisible">
  <div class="ten_movies">
  <header>
    <div class="menu">
      <span class="filterBtn" (click)="hide('Comedy')">Comedy</span>
      <span class="filterBtn" (click)="hide('Action')">Action</span>
      <span class="filterBtn" (click)="hide('Adventure')">Adventure</span>
      <span class="filterBtn" (click)="hide('Crime')">Crime</span>
      <span class="filterBtn" (click)="hide('Drama')">Drama</span>
      <span class="filterBtn" (click)="hide('All')">All</span>
    </div>
    <input class="search" type="text" placeholder="Search movie...">
  </header>

  <div  class="movie large">
    <h1>Description</h1>
    <div class="lineFlex">
    <img src="{{movie.img}}" alt="{{movie.description}}">
    <div class="details">
    <h2>{{movie.title}}</h2>
    <i> {{movie.description}} </i>
    <p>Початок: {{movie.startTime}} </p>
    <p>Тривалість: {{movie.duration}} </p>
    <p>Рік виходу: {{movie.dateOfRelease}} </p>
    <h3>Ціна квитка: {{movie.ticketPrice}} </h3>
    </div>
    </div>
  </div>
  </div>
  <div class="buy">
    <h1>Buy ticket</h1>
    <div class="hiddenData">{{movie.id}}</div>
    <div class="hall">
    <div class="row" *ngFor="let row of loaded[movie.id]; let r = index">
      <span class="rowTitle"> ряд {{r+1}} </span>
      <div id="R{{r+1}};S{{s+1}}"
           [ngStyle]="{'backgroundColor':getColor(
            loaded[movie.id][r][s]
           )}"
           (click)="setClicked($event)"
           class="set" *ngFor="let set of loaded[movie.id][r]; let s = index">{{s+1}}
      </div>
    </div>
    </div>
    <div class="buttonsLine">
      <button (click)="buy()" class="btn primary">Buy</button>
      <button (click)="clear()" class="btn secondary">Clear</button>
    </div>
  </div>
</div>
